.title {
    color: rgb(151, 151, 151);
    padding-bottom: 0px;
    font-weight: lighter;
    font-size: 1.7rem;
    margin-top: 0px;
}

.text {
    color: #777;
}

.notesGrid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 0px;
}