.single {
    padding: 2px 5px;
    background: #fff;
    display: block;
    margin: 10px 5px;
    border-left: 8px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 0.65rem;
    cursor: pointer;
}

.single:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);

}
 
.single > h3{
    margin: 8px 0px;
}

.active {
    border-left: 8px solid #563BFFE6;
}
