.fretboard{
    width: fit-content;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.fret{
    height: 100%;
    width: 60px;
    display: inline-block;
}


.string{
    border-top: solid 2px #515050;
    border-left: solid 2px #515050;
    border-right: solid 2px #515050;
    flex-grow: 1;
    position: relative;
}


.firstFret{
    border-left: solid 6px;
}


.lastString{
    border-left: none;
    border-right: none;
}

.firstFret.lastString{
    border-left: solid 6px rgba(0,0,0,0);
}




.strings{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.note{
    width: 23px;
    height: 23px;
    background-color: #563BFFBA;
    position: absolute;
    top: -52%;
    left: 35%;
    border-radius: 50%;
}

.note > span {
    font-size: 0.6rem;
    position: absolute;
    top: 15%;
    left: 10%;
}

.stringName{
    position: absolute;
left: -25px;
top: -10px;
font-size: 0.8rem;
}