.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.pageTitle{
  margin-top: 0px;
}

.container{
  height: 90%;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.chordPlayer{
  grid-template-columns: 6fr 4fr;
  background: white;
  border-radius: 20px;
  margin-left: 30px;
  padding: 0 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.text {
  color: #777;
}
.btn {
  display: block;
  width: 110px;
  padding: 8px 0;
  margin: 20px auto;
  background: #563BFFE6;
  border-radius: 6px;
  color: white;
  text-align: center;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}

.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 10px 5px;
  border-left: 8px solid #fff;
}
.single:hover {
  border-left: 8px solid #563BFFE6;
}

.notesGrid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.currentChordContainer{
  padding: 30px 0;
  text-align: center;
}

      
.chordSymbol,
.chordName,
.chordNotes,
.chordIntervals{
  margin: 10px;
  height: 35px;
}

.inline{
  display: inline;
  margin: 8px 20px;
}

.loopButtons{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.playerOptionMenu{
  padding: 10px 20px;
  text-align: center;
  margin: 5px 0px;

}

.playerOption{
  margin: 0px 10px;
background: none;
border: none;
cursor: pointer;
}